node_modules/
dist/
build/
.cache/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
*.tgz
.env
.env.*
.DS_Store
.idea/
.vscode/
/.pnp/
/.pnp.js
/.turbo
/.parcel-cache/
/.vite/
/out/
/.next/
/.vercel/
public/assets/
*.local
coverage/
/.egg-info/
__pycache__/
*.pyc